// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

$light: #d0dbdc;
$dark: #13191d;;
$primary: #D8CCC2;
$secondary: #AAA;
$black: #121;
$white: #FFF;
$danger: #ff4136;
$success: #A5C5A0;
$warn: #FFF59A;
$info: rgba(18, 18, 18, 0.6);

$theme-colors: (
  'light': $light,
  'dark': $dark,
  'primary': $primary,
  'secondary': $secondary,
  'black': $black,
  'white': $white,
  'danger': $danger,
  '$success': $success,
  'warn': $warn,
  'info': $info
);

$min-contrast-ratio: 1.5;

$gray-100: #798892;
$secondary-bg: $secondary;

$body-bg: $white;
$body-color: $black;
$font-family-base: 'SF Pro Display', sans-serif;
$headings-color: #090d0f;
$headings-font-weight: 400;
$headings-font-family: 'AireBoldPro', serif;
$headings-font-family-secondary: 'SF Pro Display', sans-serif;
$hr-border-color: #6a83a8;
$hr-border-width: 2px;
$font-size-base: 0.875rem;
$line-height-base: 1.5;
$grid-gutter-width: 20px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;
$h1-font-size: 28px;
$h2-font-size: 18px;
$small-font-size: 12px;
$text-muted: rgba(18, 18, 18, 0.6);

$navbar-light-color: #25416b;
$navbar-toggler-padding-x: 0;
$navbar-light-brand-color: $navbar-light-color;
$navbar-light-toggler-border-color: transparent;

// $popover-font-size: 12px;
// $popover-body-color: #313d4d;
// $popover-border-radius: 2px;
// $popover-body-padding-y: 8px;
// $popover-body-padding-x: 12px;

$link-color: $secondary;
$link-decoration: underline;
$link-hover-decoration: none;

// $modal-inner-padding: 24px var(--modal-inner-padding);
// $modal-header-padding-x: var(--modal-inner-padding);
// $modal-backdrop-bg: #00102c;
// $modal-backdrop-opacity: 0.5;
// $modal-content-bg: #0d213f;
// $modal-dialog-margin-y-sm-up: 100px;
// $modal-md: var(--modal-width);
// $modal-sm: var(--modal-width);

$btn-disabled-opacity: 0.4;
$input-bg: transparent;
$input-color: $black;
$input-border-color: #B8B8B8;
$input-border-radius: 3px;
$input-disabled-bg: $body-bg;
$input-padding-y: 0.6875rem;
$input-padding-x: 0.6875rem;
$custom-select-disabled-bg: $input-disabled-bg;
$input-placeholder-color: #A0A0A0;
$btn-padding-x: 2.5rem;
$btn-padding-y: 0.6875rem;
$btn-color: $white;
$btn-border-radius: 3px;
$btn-font-size-sm: 0.875rem;
$input-btn-font-family: $font-family-base;
$input-btn-padding-y: 0.6875rem;
$input-btn-padding-x: 0.6875rem;
$form-grid-gutter-width: 20px;
$form-feedback-icon-valid: none;
$form-feedback-icon-invalid: none;
$label-margin-bottom: 0.25rem;
$custom-select-indicator-padding: 1rem;
$custom-control-indicator-border-color: $input-border-color;
$custom-control-indicator-checked-bg: $white;
$custom-checkbox-indicator-icon-checked: url('data:image/svg+xml,<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 4L3.85714 7L9 1" stroke="#001B3C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
$custom-control-indicator-checked-color: $black;

$card-border-radius: 0;
// $card-cap-bg: $white; // #031636;
// $card-color: $body-color;
// $card-bg: $white;
