.header {
  transition: background-color .2s ease,margin .2s ease;
  height: var(--heading-height);
  .root {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px dashed rgba(18, 18, 18, 0.1);
  }

  .toggleIcon {
    cursor: pointer;
    font-size: 2em;
  }
}
