.root {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.content {
  padding: 2em;
}
