.sidebar {
  flex-shrink: 0;
  height: var(--sidebar-height);
  width: var(--sidebar-width);

  &:not(.active) {
    display: none;
  }

  .heading {
    display: flex;
    align-items: flex-end;
    height: var(--heading-height);
    outline: solid;
    padding-bottom: 0.5rem;
    padding-left: 1em;
    padding-top: 0.5rem;
  }

  .navLinkGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
  }

  .navLinkItem {
    display: block;
    padding: 0.75rem 1.25rem;
    position: relative;
    text-align: inherit;
    text-decoration: none;
    width: 100%;
    color: var(--light);

    &:hover,
    &:active,
    &.active {
      background-color: var(--white);
      color: var(--dark);
    }
  }

  .logout {
    cursor: pointer;
  }
}
